# Android Studio configuration.
*.iml
build/.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/
app/src/main/res/values/api_key.xml
.idea/workspace.xml
.idea/workspace.xml
